:root {
  color: red;
  font-weight: 600;
}

.navbar {
  margin-bottom: 5vh;
}

.weather-today {
  margin-top: 2vh;
}
.card {
  text-align:center;
  background: rgba(15, 11, 11, 0.38);
  border-radius: 20px;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vh;
  margin-left: 2px;
  margin-right: 2px;
}

.card-search {
  margin-left: 3vw;
  margin-right: 3vw;
}

img {
  
  width: 70px;
}

.btn{
  background-color: #989599 !important;
  color: white;
  border-radius: 25px;
  font-size: smaller;
  font-weight: bold;
  border-color: black;
  border: 10px;
  width: fit-content;
  margin-top: 1vh;
  margin-bottom: 1vh;
}